html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
#ping-pong-table{
    border: 2px solid black;
    width: 700px;
    height: 400px;
    position: relative;
}
 
#paddle{
    background-color: blue;
    width: 15px;
    height: 75px;
    margin-left: 1px;
    position: absolute;
}
#ball{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 10px;
}